body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"]{
    width: 20%;
    height: 1rem;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #313131;
}

input[type="number"]{
    width: 10%;
    height: 1rem;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 5px;
    border: 1px solid #313131;
}

button {
    padding: 11px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#videoContainer {
    margin-top: 20px;
}

.hidden {
    display: none;
}

#controls {
    margin-top: 20px;
}

#captureTimeButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#captureTimeButton:hover {
    background-color: #0056b3;
}

#timeList {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
}

#timeList li {
    margin-bottom: 5px;
}
